Tourmaline/obj
Tourmaline/bin
Tourmaline/Properties
Tourmaline/Tourmaline.csproj.user
.vs
.vscode
Testing
.editorconfig
/tourmaline-linux.7z
/tourmaline-windows.7z
build.sh
/tourmaline-linux.zip
/tourmaline-windows.zip
